<div class="container">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

     <div class="field">
      <%= f.label :email, class:"label" %>  
      <div class="control has-icons-left">
        <%= f.email_field :email, class:"input", placeholder:"User Email", autocomplete: 'email', autofocus: true%>
        <span class="icon is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </div>
    </div>


  <div class="field">
    <%= f.label :password, class:"label" %>  
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />        
      <div class="control has-icons-left">
      <%= f.password_field :password, class:"input", placeholder:"Password", autocomplete: 'new-password'%>
      <span class="icon is-left">
        <i class="fas fa-key"></i>
      </span>
    </div>
  </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me, class: 'checkbox' %>
        <%= f.label :remember_me, class: 'checkbox' %>
      </div>
    <% end %>

  <div class="actions">
    <button type="submit" class="button is-info is-large is-fullwidth">
    Log In
    </button>
  </div>


  <% end %>
  <br>
  <%= render "devise/shared/links" %>
</div>