<p id="notice"><%= notice %></p>


<nav class="breadcrumb is-centered" aria-label="breadcrumbs">
  <ul>
    <li class=<%= active_class(shoes_upcoming_path)%>>
      <a href=<%= shoes_upcoming_path %>>
        <span class="activated">UPCOMING</span>
      </a>
      </li>
    <li class=<%= active_class(shoes_past_release_path)%>>
      <a href=<%= shoes_past_release_path%> aria-current="page">
        <span class="activated">PAST RELEASE</span>
      </a>
    </li>
  </ul>


</nav>

<div class="box box-content">
  <div class="columns is-multiline">
    <% @shoes.each do |shoe|  %>
        <div class="column is-one-quarter">
        <a href=<%= shoe_path(shoe) %>>
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by5">
              <%= shoe_images_helper(shoe) %>
              </figure>
            </div>
          </div>
          <div class="content">
            <%= shoe.product %><br>
            <%= shoe_price_helper(shoe) %><br>
            <%= shoe_release_date_helper(shoe) %><br>
            <%= shoe_release_time_helper(shoe) %>
          </div>
        </div>
      </a>
    <% end %>
  </div>
</div>

  <% if user_signed_in? && current_user.admin %>
    <div class="container">
      <div class="breadcrumb">
      <%= link_to 'New Shoe', new_shoe_path, class:'button is-link' %>
    
      <% end %>
      </div>
      <br>
    </div>

  






