<p id="notice"><%= notice %></p>

<h1>Shoes</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Price</th>
      <th>Release date</th>
      <th>Style code</th>
      <th>Color</th>
      <th>Retailer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shoes.each do |shoe| %>
      <tr>
        <td><%= shoe.product %></td>
        <td><%= shoe.price %></td>
        <td><%= shoe.release_date %></td>
        <td><%= shoe.style_code %></td>
        <td><%= shoe.color %></td>
        <td><%= shoe.retailer %></td>
        <td><%= link_to 'Show', shoe %></td>
        <td><%= link_to 'Edit', edit_shoe_path(shoe) %></td>
        <td><%= link_to 'Destroy', shoe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shoe', new_shoe_path %>
