<p id="notice"><%= notice %></p>



<div class="box">
  <div class="columns is-vcentered">
    <div class="column">
      <figure class="image is-256x256">
        <%= shoe_images_helper(@shoe)%>
      </figure>
    </div>

    <div class="column">
      <div class="box has-text-centered is-size-3">
        <%= @shoe.product %>
      </div>
      <div class="box">
        <div class="columns">
          <div class="column is-one-quarter ">
            Price : <br>
            Release Date :<br>
            Style Code :<br>
            Retailer : <br>
            Color :<br>
          </div>
          <div class="column">
            <%= shoe_price_helper(@shoe) %><br>
            <%= shoe_release_date_helper(@shoe) + ' ' + shoe_release_time_helper(@shoe)%><br>
            <%= @shoe.style_code %><br>
            <%= @shoe.retailer %><br>
            <%= @shoe.color %>
          </div>
      </div>

      </div>
    <div>
  </div> 
</div>
</div>





<%= link_to 'Edit', edit_shoe_path(@shoe) %> |
<%= link_to 'Back', shoes_path %>
