<div class="box box-content">
  <div class="columns">
    <div class="column">
      <figure class="image is-256x256">
        <%= shoe_images_helper(@shoe)%>
      </figure>
    </div>

    <div class="column">
      <div class="box has-text-centered is-size-3">
        <%= @shoe.product %>
      </div>
      <div class="box">
        <div class="columns">
          <div class="column is-one-quarter ">
            Price : <br>
            Release Date :<br>
            Style Code :<br>
            Retailer : <br>
            Color :<br>
          </div>
          <div class="column">
            <%= shoe_price_helper(@shoe) %><br>
            <%= shoe_release_date_helper(@shoe) + ' ' + shoe_release_time_helper(@shoe)%><br>
            <%= @shoe.style_code %><br>
            <%= @shoe.retailer %><br>
            <%= @shoe.color %>
          </div>
      </div>

      </div>
    <div>
  </div> 
  <div class="box">
    <div class="box">
      <% if current_user %>
          <%= form_with model: [@shoe, @comment] do |f| %>
            <div class="field">
              <div class="control">
                <%= f.text_area :body, class:"textarea is-warning", id:'message-box', placeholder:"Leave comment" %>
              </div>
            </div>
            <%= f.submit 'commit' %>
          <% end %>
      <% else %>
        Please Share Your Idea by Signing Up!<%= link_to "Log in", new_user_session_path, class:"button" %>
      <% end %>
    </div>
      <div class="box" id="comment-box">
          <% @comments.each do |comment| %>
            <%= render 'comments/comment',comment: comment %>
          <% end %>
      </div>
    </div>
  </div>
</div>




  <% if user_signed_in? && current_user.admin %>
    <div class="container">
      <div class="">
      <%= link_to 'Edit', edit_shoe_path(@shoe), class:'button is-warning' %>
      <%= link_to 'Delete', shoe_path(@shoe), method: 'delete', class:'button is-danger', data: {confirm: 'Are you sure?'} %>
      <%= link_to 'Back', shoes_path, class:'button is-primary' %>    
      <% end %>
      </div>
      <br>
    </div>


